@{
    ViewData["Title"] = "판매자 정보";
}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/Privacy.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<style>
    body {
        width: 100%;
        overflow-x: hidden;
        background-color: #eceef4;
    }
</style>
<body>
    <div class="contents">
        <h1 class="title">@ViewData["Title"]</h1>
        <p class="descript">판매자 프로필 정보입니다.</p>
    </div>
</body>
</html>
