body {
    width: 100%;
    width: fit-content;
}

.contents {
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 60px;
    margin-left: 40px;
}

.manage-container {
    display: flex;
}

.title {
    font-size: 48px;
    font-weight: 600;
}

.descript {
    font-size: 20px;
    margin-bottom: 50px;
}

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 30px 0 30px 0;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    width: 240px;
    background-color: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
    margin-right: 30px;
}

.select-clicked {
    border: 2px #26489a soild;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background-color: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

/*
    Rotate styles
    (added later in csharp)
*/
.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background-color: #2a2d35;
}

/*
    active styles
    (added Later in csharp)
*/
.active {
    background-color: #23242a;
}

/*
    Open styles
    (added Later in csharp)
*/
.menu-open {
    display: block;
}

.manage-table {
    background-color: #fff;
    border-radius: 20px;
    min-width: 1120px;
    width: 1120px;
    height: 680px;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.manage-table .sort {
    display: flex;
    align-items: center;
    position: relative;
}

.manage-table .sort .search-bar {
    position: relative;
    margin-left: 40px;
}

.manage-table .sort .search {
    width: 480px;
    height: 60px;
    outline: 0;
    border: 0;
    border-bottom: 3px solid #000;
    margin-right: 10px;
    padding-left: 40px;
}

.manage-table .sort .icon {
    position: absolute;
    top: 35%;
    left: 10px;
}

table > thead {
    font-size: 16px;
}

.manage-table th {
    padding: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.tbody-container {
    overflow-y: scroll;
    max-height: 520px;
    display: block;
    -webkit-appearance: none;
}

.tbody-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
}

th, td {
    padding: 10px;
    padding-left: 20px;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 0;
}

thead tr .id {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
}

thead tr .name {
    width: 180px;
    min-width: 180px;
}

thead tr .desc {
    width: 180px;
    min-width: 180px;
}

thead tr .class {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

thead tr .price {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
}

thead tr .count {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
}

thead tr .status {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

td {
    white-space: nowrap;  /* 줄 바꿈 방지 */
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    height: 60px;
    vertical-align: center;
}

thead > tr:first-child th:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

thead > tr:first-child th:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

thead::after {
    content: "";
    width: calc(100% - 20px); /* 20px = 10px padding on each side */
    height: 10px;
    background-color: #fff;
    border-bottom: 2px solid #d2d2d6;
    position: absolute;
    bottom: -10px;
    left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.tbody-container tbody tr:first-child td {
    height: 80px;
    padding-top: 30px;
}

.arrived {
    color: #6492ff;
    font-weight: bolder;
}

.manage-count {
    font-family: "Noto Sans KR", sans-serif;
    border-radius: 20px;
    min-width: 360px;
    margin-left: 40px;
    height: 680px;
    background-color: white;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.manage-count .title-info {
    font-weight: 600;
    padding: 10px 20px;
    font-size: 42px;
}

.manage-count .line {
    width: 90%;
    border: 1px solid #c4c5c7;
    margin: 20px;
    margin-bottom: 40px;
}

.manage-box .status-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.manage-box p {
    margin: 0;
}

.manage-box .icon-box {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.3);
    margin-left: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.icon-box.all-count {
    background-color: #7c8aae;
}

.icon-box.all-price {
    background-color: #468580;
}

.icon-box.today-count {
    background-color: #7d7368;
}

.icon-box.today-price {
    background-color: #73b8d9;
}

.manage-box .status {
    text-align: right;
    margin-right: 20px;
}

.manage-box .status > p {
    font-size: 18px;
    font-weight: 600;
    color: #7c8aae;
}

.manage-box .status > span {
    font-size: 24px;
    font-weight: 600;
}

.insuff {
    color: #e75050;
}